software/flow/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "MQTT2Influxdb",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ae14dbbaafe62be6",
        "type": "tab",
        "label": "CSV2Influxdb",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d0f6fc20cc752ed0",
        "type": "tab",
        "label": "Debug Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7ce136dbb8c897d1",
        "type": "mqtt-broker",
        "name": "mosquitto:1833",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "368e029bdaefea73",
        "type": "ui_group",
        "name": "Power",
        "tab": "8eef9f1fd7446608",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8eef9f1fd7446608",
        "type": "ui_tab",
        "name": "Powermonitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "90bc7a058a6ccbd7",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "eeb221fb.ab27f",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "test",
        "name": "test",
        "usetls": true,
        "tls": "d50d0c9f.31e858",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "d61a7da6caeb26aa",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influx",
        "usetls": false,
        "tls": "d50d0c9f.31e858",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "00a750cdfb54579e",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/iot-platform/energy-monitor/test-device/watt",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7ce136dbb8c897d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 480,
        "wires": [
            [
                "16687c90623bdb9b"
            ]
        ]
    },
    {
        "id": "7e53d20583f56487",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "d61a7da6caeb26aa",
        "name": "Influx watt",
        "measurement": "msg",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Curious Community Labs",
        "bucket": "test",
        "x": 810,
        "y": 500,
        "wires": []
    },
    {
        "id": "16687c90623bdb9b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "toNumber",
        "func": "\nmsg.payload = Number(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 480,
        "wires": [
            [
                "7e53d20583f56487",
                "499e0f3651d818db"
            ]
        ]
    },
    {
        "id": "499e0f3651d818db",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "consumption",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "b14166f65d5aec75",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "tele/tasmota_A4D1F3/SENSOR",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7ce136dbb8c897d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 720,
        "wires": [
            [
                "29cd45a4f1feb505"
            ]
        ]
    },
    {
        "id": "23c62c30ebabca6e",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "d61a7da6caeb26aa",
        "name": "Influx plant sensor",
        "measurement": "msg",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Curious Community Labs",
        "bucket": "plant",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "e3742f5060cf6cb7",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 760,
        "wires": []
    },
    {
        "id": "29cd45a4f1feb505",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "plant2Influx",
        "func": "var newMsg =  {\n    payload: {\n        temperature: Number(msg.payload.DHT11.Temperature),\n        humidity: Number(msg.payload.DHT11.Humidity)\n    }\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 640,
        "wires": [
            [
                "23c62c30ebabca6e",
                "e3742f5060cf6cb7"
            ]
        ]
    },
    {
        "id": "f21213aec2f647ff",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "tele/tasmota_891E97/SENSOR",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7ce136dbb8c897d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1000,
        "wires": [
            [
                "5e4f2b3e1acad45b"
            ]
        ]
    },
    {
        "id": "26b455c1bd337375",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "d61a7da6caeb26aa",
        "name": "Influx Shelly device",
        "measurement": "msg",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Curious Community Labs",
        "bucket": "shelly",
        "x": 770,
        "y": 920,
        "wires": []
    },
    {
        "id": "96eaf14353a89e9c",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "shelly",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5e4f2b3e1acad45b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "shelly2Influx",
        "func": "return  {\n    payload: {\n        power: Number(msg.payload.ENERGY.Power),\n        voltage: Number(msg.payload.ENERGY.Voltage),\n        current: Number(msg.payload.ENERGY.Current)\n    }\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1000,
        "wires": [
            [
                "26b455c1bd337375",
                "96eaf14353a89e9c"
            ]
        ]
    },
    {
        "id": "de75dc47910e5a82",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "microfactory/3dPrinter",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7ce136dbb8c897d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 1260,
        "wires": [
            [
                "78453032339fa301"
            ]
        ]
    },
    {
        "id": "688eeb4c8835fc6e",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "d61a7da6caeb26aa",
        "name": "influx 3dPrinter",
        "measurement": "FilamentSensor",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "NPI",
        "bucket": "3dPrinter",
        "x": 780,
        "y": 1220,
        "wires": []
    },
    {
        "id": "665f1b4136421405",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "3dPrinter Sensor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1320,
        "wires": []
    },
    {
        "id": "78453032339fa301",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "3dPrinter2Influx",
        "func": "return {\n    payload: {\n        device: String(msg.payload.device),\n        unit: String(msg.payload.unit),\n        measure: Number(msg.payload.value)\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1260,
        "wires": [
            [
                "688eeb4c8835fc6e",
                "665f1b4136421405"
            ]
        ]
    },
    {
        "id": "e0977f2582bfaaa6",
        "type": "mqtt in",
        "z": "d0f6fc20cc752ed0",
        "name": "",
        "topic": "/iot-platform/energy-monitor/test-device/watt",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7ce136dbb8c897d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 300,
        "wires": [
            [
                "af39dce845afb447",
                "73b0f02f5524fc38"
            ]
        ]
    },
    {
        "id": "af39dce845afb447",
        "type": "ui_gauge",
        "z": "d0f6fc20cc752ed0",
        "name": "",
        "group": "368e029bdaefea73",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Power ",
        "label": "W",
        "format": "{{value}}",
        "min": 0,
        "max": "4000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "73b0f02f5524fc38",
        "type": "ui_chart",
        "z": "d0f6fc20cc752ed0",
        "name": "",
        "group": "368e029bdaefea73",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 340,
        "wires": [
            []
        ]
    }
]